.home{
  display:flex;
  flex-direction:row;
  align-items:center;
  position: relative;
  padding: 1rem;
  text-align: center;

}
.texto{
  display:flex;
  flex-direction:column;
  padding: 4rem;
  text-align:left;
  gap: 2rem;
  font-size:x-large;

}